<div class="post-footer">
    {% if current_user == post.author %}
        <a href="{{ url_for('posts.update_post', post_id=post.id) }}">
            <span class="label label-primary">Edit</span>
        </a>
    {% elif current_user.is_administrator() %}
        <a href="{{ url_for('posts.update_post', post_id=post.id) }}">
            <span class="label label-danger">Edit [Admin]</span>
        </a>
    {% endif %}
    <a href="{{ url_for('posts.post', post_id=post.id) }}">
        <span class="label label-default">Permalink</span>
    </a>
    <a href="{{ url_for('posts.post', post_id=post.id) }}#comments">
        <span class="label label-primary">{{ post.comments.count() }} Comments</span>
    </a>
</div>