
{% block app_content %}
    <div class="col-sm-9">
        <div class="contect-section">
            <h1>Dear {{ user.username }},</h1>

            <p>Welcome to Yura's Delicious Life Blog!</p>

            <p>To confirm your account, please clilck on the following link:</p>

            <p>{{ url_for('users.confirm_registration_token', token=token, _external=True) }}</p>

            <p>Sincerely,</p>

            <p>Delicious Life Blog Team.</p>

            <p>Note: replies to this email adress are not monitored.</p>
        </div>
    </div>
{% endblock app_content %}