{% extends "layout.html" %}
{% block app_content %}


<div class="col-sm-9">


    <!-- Cards with Newest Recipes -->
    <div class="content-section">
        <!-- Pagination of the Latest Posts Section -->
        <h2><a href="{{ url_for('recent_recipes') }}">Newest recipes</a></h2>
        {% for page_num in latest_posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if latest_posts.page == page_num %}
                    <a class="btn btn-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a class="btn btn-outline-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
                {% endif%}
            {% else %}
                ...
            {% endif %}
        {% endfor %}

        <div class="card-deck">
            {% for latest_post in latest_posts.items %}
            <div class="card">
                <img src="{{ url_for('static', filename='post_pictures/' + latest_post.post_image) }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ url_for('post', post_id=latest_post.id) }}">{{ latest_post.title}}</a></h5>
                    <p class="card-text">{{ latest_post.description }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{ latest_post.date_posted.strftime('%Y-%m-%d') }}</small>
                </div>
            </div>
            {% endfor %}
        </div>


    </div>


    <!-- Cards with Most Popular Recipes -->
    <div class="content-section">
      <h2>Cakes Recipes</h2>
        <div class="card-deck">
            {% for post in cake_recipes.items %}
            <div class="card">
                <img src="{{ url_for('static', filename='post_pictures/' + post.post_image) }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title}}</a></h5>
                    <p class="card-text">{{ post.description }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    <!-- Section Number 4 - Lifehacks  -->
    <div class="content-section">
        <h2>Lifehacks</h2>
    </div>


    <!-- Section Number 4 - How it is grown  -->
    <div class="content-section">
        <h2>How it is grown</h2>
    </div>


</div>

{% endblock app_content%}