{% extends "layout.html"  %}}
{% block app_content %}
    <article class="media content-section">

          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href=" {{ url_for('users.user_account', username=post.author.username) }}">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
              {% if post.author == current_user %}
                <div>
                    <a class="btn btn-secondary bt-sm mt-1 mb-1" href="{{ url_for('posts.update_post', post_id=post.id) }}">Update</a>
                    <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
                </div>
              {% endif %}
            </div>
            <h2 class="article-title">{{ post.title }}</h2>
            <p class="article-content">{{ post.description }}</p>
            <img class="img-thumbnail" src=" {{ post_image }}">
              <p class="article-content">{{ post.date_posted }}</p>
              <p class="article-content">{{ post.portions }}</p>
              <p class="article-content">{{ post.prep_time }}</p>
              <p class="article-content">{{ post.type_category }}</p>
              {% if post.ingredients_html %}
                <p class="article-content">{{ post.ingredients_html | safe }}</p>
              {% else %}
                <p class="article-content">{{ post.ingredients }}</p>
              {% endif %}
              <h3 class="article-title">Preparation method:</h3>
              {% if post.preparation_html %}
                <p class="article-content">{{ post.preparation_html | safe }}</p>
              {% else %}
                <p class="article-content">{{ post.preparation }}</p>
              {% endif %}
          </div>

        <div class="post-footer">
            <a href="{{ url_for('posts.post', post_id=post.id) }}#comments">
                <span class="label label-primary">
                    {{ post.comments.count() }} Comments
                </span>
            </a>
        </div>
        </article>
    {% include "_post.html" %}

<!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete recipe?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete this recipe?
            Your followers will not be able to cook this delicious dish...
            Click "Close" to keep the post, or "Delete" to permanently delete your post.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form action=" {{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete">
            </form>
          </div>
        </div>
      </div>
    </div>

<h4 id="comments">Comments</h4>
{% if current_user.can(Permission.COMMENT) %}
<div class="comment-form">
    <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-6">Post your comment to this recipe!</legend>
                <div class="form-group">
                    {{ form.body.label(class="form-control-label") }}

                    {% if form.body.errors %}
                        {{ form.body(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.body.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.body(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
    </form>
</div>
{% endif %}
{% include '_comments.html' %}

{% endblock app_content%}

{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
{% endblock %}