{% extends "layout.html" %}
{% block app_content %}
    <div class="col-sm-9">
        <div class="contect-section">
            <h1>Dear {{ user.username }}</h1>
            <h2>You have not confirmed your account yet, therefore you have no access to some articles and actions.</h2>
            <p>Before you can have full access to this site you need to confirm your account.</p>
            <p>Check your inbox, you should have recieved an email with confirmation link.</p>

            <p>Need another confirmation email? <a href="{{ url_for('users.resend_confirmation') }}">Click here!</a></p>
        </div>
    </div>
{% endblock app_content %}