.card-content-title{
    color: #3a1c17; 
}

.btn-outline-info {
  color:  #5a291a;
  border-color:  #5a291a;
}

.btn-outline-info:hover {
  background-color:  #ac9676;
  border-color: #ac9676;
}

.btn-outline-success{
  color: #5a291a;
  border-color: #5a291a;
  position: relative;
  background: none;
}

.btn-outline-success:hover {
  background-color:  #5a291a;
  border-color: #5a291a;
}


.user-image {
  width: 300px;
  height: 300px;
  border-radius: 50%; /*don't forget prefixes*/
  background-image: url("path/to/image");
  background-position: center center;
  /* as mentioned by Vad: */
  background-size: cover;
}

* {
	box-sizing: border-box;
}



/* Start of the MYRECIPIES project styling*/

html,
body {
  margin: 0;
  padding: 0rem;
  font-family: sans-serif;
  background-color: #dfe4e0;
  color: rgb(3, 0, 0);
}

main {
  background-color:#dfe4e0;
  margin-left: 5%;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color:black;
}

h1 {
  margin-top:40px;
  padding: 0 1rem;
}

/* Overwrite default Bootstrap4 CSS for navigation bar*/
.bg-light {
  background-color:#C0CEC1!important;
}

/* Styles for carousel on the home page */
.carousel-header {
  color: black;
}

.carousel-header:hover {
  color: black;
}
.carousel-description {
  color: black;
}


#recent-recipes-grid > div {
  background-color: #dfe4e0;
  display: grid;
  padding: 20px;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  grid-template-columns: 25% 25% 25% 25%;
}

.recent-recipes-item {
  background-color: rgb(139, 24, 24);
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.card-deck {
  background-color:#dfe4e0;
}


.recipe-ingredients {
  list-style: none;
  padding: 16px 0;
}


.recipe-method {
  display: block;

    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
/* 
@media screen and (min-width: 37.5em){
 .gel-layout__item {
    padding-left: 16px;
}

.gel-layout__item {
  width: 100%;
  display: inline-block;
  padding-left: 8px;
  text-align: left;
  vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
} */
